body {
    font-family: $baseFont;
	font-size: 1.063em;
	color: #626262;
	line-height: 1.53;
}

/* `Link & btn
-------------------------------------------------------------*/

	

/* `Title
-------------------------------------------------------------*/

h2 {
    color: #ffffff;
    font-size: 10vw;
    margin: 0 0 140px;
}

img {
    position: absolute;
    top: calc(50% - 70px);
    left: calc(50% - 205px);
}