
/*
	1— mettre en place l'environnement gulp
	2— ajouter la structure à l'html
	3- convertir le css en sass avec les principes suivant:
	import, variables, nesting, color functions (https://robots.thoughtbot.com/controlling-color-with-sass-color-functions)
*/




/* 
@import "font";
@import "layout";
@import "form";
@import "animation";
@import "media";
*/

$baseFont: 'Montserrat', sans-serif;
$mainColor: #626262;
$mainDark: #333333;

$bgColor1: #e8dbfb; /* purple */
$bgColor2: #ffe2f6; /* pink */
$bgColor3: #d7e5e8; /* blue */

$fontColor1: #927faf;/* purple */
$fontColor2: #d490c3; /* pink */
$fontColor3: #749ea7; /* blue */



@import "reset";
@import 'type';
@import 'layout';
@import 'animation';





/* Views styles */

.view1 {
    background: url(assets/img/dots-bg.svg) no-repeat 65px 65px, url(assets/img/dots-bg.svg) no-repeat calc(100% - 65px) calc(100% - 65px) $bgColor1;
    background-size: auto 20vh;
}


.view2 {
    background: url(assets/img/dots-bg.svg) no-repeat 65px 65px, url(assets/img/dots-bg.svg) no-repeat calc(100% - 65px) calc(100% - 65px) $bgColor2;
    background-size: auto 20vh;
}

.view3 {
    background: url(assets/img/dots-bg.svg) no-repeat 65px 65px, url(assets/img/dots-bg.svg) no-repeat calc(100% - 65px) calc(100% - 65px) $bgColor3;
    background-size: auto 20vh;
}

.view4 {
    background: url(assets/img/dots-bg.svg) no-repeat 65px 65px, url(assets/img/dots-bg.svg) no-repeat calc(100% - 65px) calc(100% - 65px) $bgColor1;
    background-size: auto 20vh;
}

.view5 {
    background-color: $bgColor2;
}




























