$baseFont: 'Montserrat', sans-serif;
$mainColor: #626262;
$mainDark: #333333;

$bgColor1: #e8dbfb; /* purple */
$bgColor2: #ffe2f6; /* pink */
$bgColor3: #d7e5e8; /* blue */

$fontColor1: #927faf;/* purple */
$fontColor2: #d490c3; /* pink */
$fontColor3: #749ea7; /* blue */

$breakpoint1: 750px;
$breakpoint2: 460px;
$breakpoint3: 1180px;

@import "reset";
@import 'type';
@import 'layout';
@import 'animation';


































